<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<bean id="alien" class="com.xworkz.justspring.Alien"
		autowire="byType">
		<!-- <property name="age" value="20"></property> -->
		<property name="bag" ref="bag"></property>
		<constructor-arg value="12"></constructor-arg>
	</bean>
	
	<bean id="com" class="com.xworkz.justspring.Laptop" ></bean>
	<bean id="desktop" class="com.xworkz.justspring.Desktop" primary="true"></bean>

	<bean id="bag" class="com.xworkz.justspring.Bag"></bean>
	
</beans>